:root{
    --main-left-padding: 50px
}
.content{
    background-color: white;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    border: solid 1px gray;
    border-radius: 5%;
    width: 80%;
    max-width: 500px;
}
.card-image{
    width: 80%;
    max-width: 350px;;
}
.card-name{
    text-align: left;
    padding: 0;
    padding-left: var(--main-left-padding);
    margin: 0;
    font-size: 35px;
    }
.card-contact{
    color: gray;
    text-align: left;
    padding-left: var(--main-left-padding);
}

.card-favorite{
    display: block;    
    width: 35px;
  
 }
 .card-info{
    margin-bottom: 45px;
 }
 .btnStarIcon{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 10px;
    border: none;
    background-color: white;
    padding-left: var(--main-left-padding);
   
    }